	@font-face {
	    font-family: 'TestFont';
	    src: url('Font-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: 'TestFont';
	    src: url('Font-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: normal;
	}