	@font-face {
	    font-family: 'TestFont';
	    src: url('Font-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: 'TestFont';
	    src: url('Font-Bold.woff') format('woff');
	    font-weight: bold;
	    font-style: normal;
	}